<h2>Resistance: {{resistance}} +/-{{tolerance}}%</h2>

<h3>Select bands</h3>


<p>Digits:
<p><select name="digit-1" [(ngModel)]="digit1">
<option *ngFor="let digit of digits" [ngValue]="digit.value">{{digit.color}}</option>
</select>

<select name="digit-2" [(ngModel)]="digit2">
<option *ngFor="let digit of digits" [ngValue]="digit.value">{{digit.color}}</option>
</select>

<select name="digit-3" [(ngModel)]="digit3">
<option *ngFor="let digit of digits" [ngValue]="digit.value">{{digit.color}}</option>
</select>

<p>Multiplier
<p><select name="multiplier" [(ngModel)]="multiplier">
<option *ngFor="let multiplier of multipliers" [ngValue]="multiplier.value">{{multiplier.color}}</option>
</select>

<p>Tolerance
<p><select name="tolerance" [(ngModel)]="tolerance">
<option *ngFor="let tolerance of tolerances" [ngValue]="tolerance.value">{{tolerance.color}}</option>
</select>


<h2>Debug</h2>

<p>Digits: {{digit1}} {{digit2}} {{digit3}}

<p>Multiplier: {{multiplier}}

<p>Tolerance: {{tolerance}}

